node_modules
C:\Users\TiuTrix\OneDrive\JavaScript\Curso Cod3r\Node\funcionarios\node_modules
C:\Users\TiuTrix\OneDrive\JavaScript\Curso Cod3r\Note+Jun+13,+2018.pdf
C:\Users\TiuTrix\OneDrive\JavaScript\Curso Cod3r\operadordeexponenciacao.pdf
C:\Users\TiuTrix\OneDrive\JavaScript\Curso Cod3r\Indicação de sequência.txt