body {
  background-color: #444;
  background-image: url(d9a0e044c2bcb791752070909f497649.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #fff;
  font-size: 1.8em; }

